
# Ignore node_modules directory in the root
node_modules/

# Ignore node_modules directory in the frontend directory
frontend/node_modules/

# Ignore node_modules directory in the API directory
API/node_modules/